
    <title>Admin - Painel</title>

    <h1  style="text-align: center;">Controle e Administração do Site</h1>
    <h3  style="text-align: center;">Gerenciador de Conteudo</h3>

    <a href="http://localhost/git-servidor-php/criando-site-mvc/?pagina=admin&metodo=create">Criar Publicação</a>
    <hr>
    <table>
        <tr>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>ALTERAÇÃO</th>
            <th>DELEÇÃO</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>ALTERAÇÃO</th>
            <th>DELEÇÃO</th>
        </tr>
    </table>